:root {
    /* color */
    --color-text : #fff ;
    --color-primary : #576cbc ;
    --color-secondary : #19376d ;
    --color-dark : #0b2447 ;
    --color-bg : #04152d ;

    --facebook: #3a5796;
    --twitter:  #44403c;
    --linkedin: #0371ae;
    --instagram: #d12c7a;

    /*font*/

    --font-roboto : "Roboto" ;


}